/* Google Fonts Connection  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Common Featuers */
body{
    font-family: 'Poppins', sans-serif;
}
.honda-custom-bg{
    background-color: #264653;
}
.honda-custom-color{
    background-color: #E76F51;
}
.honda-custom-text{
    color: #E76F51;
}
.gray-image{
    filter: grayscale(100%);
}
.filled{
    color: #E77C40;
}